.app-container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(
    115deg,
    #fdd1d0 48%,
    #f3413b 48% 55%,
    #fc0505 55%
  );
}

.all-container {
  height: 90vh;
  position: absolute;
  top: 90px;
  right: 30px;
  overflow-y: scroll;
  width: 100%;
  color: #fff1ff;
}
