.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 0 350px 0 30px;
  top: 30px;
  width: 100%;
  height: 70px;
  background: linear-gradient(115deg, #fd0909 57.7%, black 57.7%);
}

.title__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.logo {
  width: 150px;
  height: 70px;
}

.caught-seen {
  display: flex;
  align-items: center;
}

.caught,
.seen {
  display: flex;
  align-items: center;
  border-radius: 10px;
  margin-left: 20px;
  padding: 5px 20px;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
